#environment-picker {
    /* transition: all ease-in; */
    position: absolute;
    bottom: 1%;
    left: 30%;
    width: 40%;
    min-width: 500px;
    max-width: 1000px;
    max-height: 25px;
    padding: .5% 0;
    background-color: var(--transparent-background-color);
    border: grey solid 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.environment {
    margin: 0 1%;
    padding: 1% 2%;
    font: var(--main-font);
    background-color: transparent;
    border: transparent solid 1px;
}

.environment:hover {
    cursor: pointer;
    background-color: white;
    border: grey solid 1px;
    border-radius: 10px;
}