html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

:root {
  --main-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(0, 0, 0, 1);
  --transparent-background-color: rgba(211, 228, 255, 0.749);
  --transparent-button-color: rgba(138, 180, 248, 0.749);

  --main-text-color: rgba(0, 0, 0, 1);

  --main-font: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}