.custom-button {
    background-color: rgba(158, 252, 255, 0.589);
    border: none;
    border-radius: 10px;
    width: 40%;
    max-width: 100px;
    margin-left: 5%;
    font-family: var(--main-font);
    color: black;
    padding: 1% 0;
    font-size: 1rem;
}

.custom-button:hover {
    background-color: rgba(88, 249, 255, 0.61);
    box-shadow: 0 0 3px;
    cursor: pointer;
}